<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name=".app.testsupport.QuickUnlockColdStartProbeService"
            android:exported="false"
            android:process=":quick_unlock_cold_start_probe" />
    </application>
</manifest>
